// Default parameters that can be overridden
params {
    // Show help message
    help = false
    // Alternative workflow for getting versions of pipeline and tools
    version = false
    // Alternative workflow for setting up the databases
    setup = false
    // Blastdb, default cps_blastdb
    blastdb = "$projectDir/cps_reference_database/cps_blastdb"
    // Default minimum contig length
    min_contig_length = 500
    // Default directory for input reads
    input = "$projectDir/input"
    // Default output directory
    output = "$projectDir/output"
    // Prodigal training file for annotation
    prodigal_training_file = "$projectDir/cps_reference_database/all.trn"
    // Default path for bakta database
    bakta_db = "$projectDir/cps_reference_database/bakta_db"
    // Bakta threads
    bakta_threads = 32
    // Path to reference annotation database
    reference_database = "$projectDir/cps_reference_database"
    // Provide serotype if it is known
    serotype = ""
}

env {
    PYTHONPATH = "$baseDir"
    }

// Set process container images
process {
    withLabel: bakta_container {
        container = 'quay.io/biocontainers/bakta:1.9.3--pyhdfd78af_0'
    }
    withLabel: bash_container {
        container = 'wbitt/network-multitool:69aa4d5'
    }
    withLabel: blast_container {
        container = 'staphb/blast:2.15.0'
    }
    withLabel: check_gene_content_container {
        container = 'oliverlorenzsanger/check_gene_content_py:test'
    }
    withLabel: cps_extractor_python_container {
        container = 'oliverlorenzsanger/cps_curate_cps_sequence:test'
    }
    withLabel: git_container {
        container = 'oliverlorenzsanger/git-ubuntu:1.0'
    }
    withLabel: gap_filler_container {
        container = 'oliverlorenzsanger/cps_gap_filler:test'
    }
    withLabel: panaroo_container {
        container = 'quay.io/biocontainers/panaroo:1.4.2--pyhdfd78af_0'
    }
    withLabel: seroba_container {
        container = 'sangerbentleygroup/seroba:1.0.7'
    }
    withLabel: shovill_container {
        container = 'staphb/shovill:1.1.0-2022Dec'
    }
    withLabel: snp_dists_container {
        container = 'quay.io/biocontainers/snp-dists:0.8.2--he4a0461_3'
    }
}

// Set parameters of different run environments
profiles {

    // Default Profile for local machine
    // Docker as container engine, execute by local machine
    standard {
        process{
            executor = 'local'
        }
        docker {
            enabled = true
            runOptions = '-u $(id -u):$(id -g)'
        }
    }

    // Alternative Profile for local machine
    // Singularity as container engine, execute by local machine
    singularity {
        params.singularity_cachedir = "$projectDir/singularity_cache"

        singularity {
            enabled = true
            autoMounts = true
            cacheDir = params.singularity_cachedir

        }
    }

    // Profile for LSF, tested on Sanger farm5
    // Singularity as container engine, execute by LSF
    lsf {
        params.singularity_cachedir = "$projectDir/singularity_cache"
        params.maxretries = 4

        process {
            executor = 'lsf'
            scratch = true
            time = {30.min * task.attempt}
            withLabel: farm_low {
                cpus = 1
                memory = {1.GB * task.attempt}
                errorStrategy = 'retry'
                maxRetries = params.maxretries
            }
            withLabel: farm_low_fallible {
                cpus = 1
                memory = {1.GB * task.attempt}
                errorStrategy = { task.attempt <= params.maxretries ? 'retry' : 'ignore' }
                maxRetries = params.maxretries
            }
            withLabel: farm_mid {
                cpus = 4
                memory = {15.GB * task.attempt}
                errorStrategy = 'retry'
                maxRetries = params.maxretries
            }
            withLabel: farm_high {
                cpus = 32
                memory = {16.GB * task.attempt}
                errorStrategy = 'retry'
                maxRetries = params.maxretries
            }
            withLabel: farm_high_mem {
                cpus = 32
                memory = {32.GB * task.attempt}
                errorStrategy = 'retry'
                maxRetries = params.maxretries
            }
            withLabel: farm_high_fallible {
                cpus = 32
                memory = {16.GB * task.attempt}
                errorStrategy = { task.attempt <= params.maxretries ? 'retry' : 'ignore' }
                maxRetries = params.maxretries
            }
            withLabel: farm_slow {
                time = {2.hour * task.attempt}
            }
            withLabel: farm_scratchless {
                scratch = false
            }
            withLabel: farm_local {
                executor = 'local'
            }
        }
        executor {
            perJobMemLimit = true
        }
        singularity {
            enabled = true
            autoMounts = true
            cacheDir = params.singularity_cachedir

        }
    }
}
